/* src/Timer.css */
.clock {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Courier New", Courier, monospace;
}

.time-unit {
  text-align: center;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.roller {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.roller-wrapper {
  padding: 6px 12px;
  display: flex;
  flex-direction: row;
  animation: roll 1s ease-in-out forwards;
}

.roller-digit {
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

@keyframes roll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
